#logo{
    text-align:center;
}


#title{
    color: rgb(57, 123, 199);
    font-family:'Trebuchet MS';
    font-size: 32px;
    font-weight:lighter;
    text-align: center;
}

body{
    background-color: rgb(54, 54, 54);
    background-image: url("image.jpg");
    background-size:cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

#navigation a {
    color: rgb(150, 0, 105);
    font-family:'Segoe UI';
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    
}

#navigation{
    text-align: center;
    margin-top: 1em;
}

#navigation a:hover{
    color: rgb(231, 235, 12);
}

#main{
    color: #ffffff;
    width: 100%;
    display: grid;
    background-color: #000000;
    font-family:'Trebuchet MS';
    font-weight: 500;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5.5px;
    position: fixed;
    margin-top: 37.2%;
    margin-left: -0.39999%;
}
#Main {
    margin-left: 10%;
}
#Foo {
    margin-left: 13%;
}